---
layout: base.njk
title: My First Blog Post
description: The first blog post on my new Eleventy site
date: 2024-01-15
tags: ["eleventy", "web-development", "personal"]
---

<h1>My First Blog Post</h1>
<p><em>Published on January 15, 2024</em></p>

<p>Welcome to my first blog post! This is a test post to make sure the blog functionality is working properly.</p>

<h2>What I'm Building</h2>
<p>I'm building a personal website using Eleventy, which is a static site generator that:</p>
<ul>
    <li>Generates static HTML files</li>
    <li>Supports multiple template engines</li>
    <li>Has a great plugin ecosystem</li>
    <li>Is fast and lightweight</li>
</ul>

<h2>Next Steps</h2>
<p>I plan to add:</p>
<ul>
    <li>More blog posts</li>
    <li>Project showcases</li>
    <li>Better styling and layout</li>
    <li>Maybe some interactive elements (but keeping it simple)</li>
</ul>

<p>Stay tuned for more updates as I continue building this site!</p>
