---
layout: base.njk
title: About
description: Learn more about Sam Stromberg
---

<h1>About Me</h1>
<p>Hi, I'm Sam Stromberg. Professionally, I'm a Product Manager with a Master's in Information Management and Systems from UC Berkeley, most recently working at the CDC via a US Digital Corps fellowship (but now a "displaced federal worker"). Seemed like a good time to re-launch a personal website.</p>

<p>This is, depending on how you count, the fourth or fifth generation of "my website"; most of them were run through a CMS (blogspot! who remembers blogspot??, then wordpress, then ghost), with a detour into "static files in an S3 bucket."</p>

<p>In the present circumstances, I'm too cheap to pay for hosting, and want to indirectly signal my half-decent level of technical competence, so this is a static site, but built using a slightly more sophisticated stack than "couple files in a bucket" and hosted using GitHub Pages.</p>

<p>This site is built with:</p>
<ul>
    <li>Eleventy - Static site generator -- you can put together a bunch of somewhat-complex pieces, but then build a site that doesn't require any client-side JavaScript</li>
    <li>Nunjucks - Template engine -- I've only used markdown before but they aren't too different</li>
    <li>Vanilla CSS - If I'm half-technical, I'm maybe 10%-designer, so trying to keep this part as simple as possible</li>
    <li>More context etc. in the repo's README file</li>
</ul>

<p>Personally, I reside in Oakland, where I've been since 2015. I have a couple of photogenic dogs and enjoy taking them on hikes (most East Bay trails allow 'em, people on the Peninsula don't know what they're missing)j, as well as other stereotypical-of-my-socioeconomic-and-demographic-profile activities, like playing board games, drinking iced coffee, and reading the news then feeling bad.</p>
