---
layout: layouts/base.njk
title: About Me
description: Who is this Sam Stromberg
---

<h1>About Me</h1>
<p>Hi, I'm Sam Stromberg. Professionally, I'm a Product Manager with a Master's in Information Management and Systems from UC Berkeley, most recently working at the CDC via a US Digital Corps fellowship (now a "displaced federal worker"). Seemed like a good time to re-launch a personal website.</p>

<p>On the personal side, I reside in Oakland, where I've been since 2015. I have a couple of photogenic dogs and enjoy taking them on hikes (most East Bay trails allow 'em, people on the Peninsula don't know what they're missing), as well as other stereotypical-of-my-socioeconomic-and-demographic-profile activities, like playing board games, drinking iced coffee, and reading the news then feeling bad.</p>

<img src="../public/images/g-dog.jpeg" alt="one of the dogs, in front of the Oakland skyline and Mt Tam" eleventy:widths="360">

<h2>About this Site</h2>
<p>This is, depending on how you count, the fourth or fifth generation of "my website"; most of them were run through a CMS (Blogspot! who remembers Blogspot??, then Wordpress, then Ghost), with a detour into "flat files in an S3 bucket."</p>

<p>In the present circumstances, I'm too cheap to pay for hosting, and want to signal my level of technical competence ("half-technical"), so this is a static site, but built using a slightly more sophisticated stack than "couple files in a bucket."</p>

<p>This site is built with:</p>
<ul>
    <li>Eleventy - Static site generator -- you can put together a bunch of somewhat-complex pieces, but then build a site that doesn't require any client-side JavaScript</li>
    <li>Nunjucks - Template engine -- I've only used markdown before but they aren't too different</li>
    <li>Vanilla CSS - If I'm half-technical, I'm maybe one-tenth-designer (like you couldn't tell already), so trying to keep this part as simple as possible</li>
    <li>More context etc. in <a href="https://github.com/sstromberg/personal-eleventy-site/tree/main">the repo's</a> README file</li>
</ul>