---
layout: base.njk
title: About
description: Learn more about Sam Stromberg
---

<h1>About Me</h1>
<p>Hi, I'm Sam Stromberg. I'm a developer who's too cheap to pay for hosting, so I'm building this site with Eleventy to have something marginally fancier than a couple files in an S3 bucket.</p>

<p>This site is built with:</p>
<ul>
    <li>Eleventy - Static site generator</li>
    <li>Nunjucks - Template engine</li>
    <li>Vanilla CSS - No frameworks, just clean styling</li>
</ul>

<p>More content and details about my work will be added here soon.</p>
