---
layout: layouts/base.njk
title: Blog
description: Some blog posts
---

<h1>Blog</h1>
<p>Because it wouldn't be a personal website without an infrequently-updated blog!</p>

<h2>Recent Posts</h2>
<ul>
    <li><a href="/blog/ca-redistrict/">California Prop 50 (2025)</a> - Sep 18, 2025</li>
    <li><a href="/blog/first-post/">The First Blog Post</a> - Aug 29, 2025</li>
</ul>

<p>More coming soon, both new and From The Archives(!!)</p>
