---
layout: layouts/base.njk
title: Blog
description: Some blog posts
---

<h1>Blog</h1>
<p>Because it wouldn't be a personal website without an infrequently-updated blog!</p>

<h2>Recent Posts</h2>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

<p>More coming soon, both new and From The Archives(!!)</p>
