---
layout: base.njk
title: Home
description: Sam Stromberg's personal website
---

<h1>Welcome to My Site</h1>

<p>Hello! I'm Sam Stromberg, and this is my personal website built with Eleventy.</p>
{# throw a photo up probably #}
<div><img src="" alt=""></div>

<p>Download <a href="/public/resume.pdf" download="Sam_Stromberg_Resume">my resume</a>.</p>

<h2>Recent Updates</h2>
<ul>
    <li>Initial release, 8/29/25
        <ul>
            <li>Wrote some stuff for the site</li>
            <li>Asked an AI to look it over and oh man was it incomplete</li>
            <li>Started editing to remove all the extraneous junk that got thrown in</li>
            <li>Connected local directory to Github repo</li>
        </ul>
    </li>
    <li>Coming up next
        <ul>
            <li>Publish to Github Pages using an Actions script</li>
            <li>Write substantive blog post</li>
            <li>Dig up old posts on CA HSR and Adobe/Figma</li>
            <li>Embed some photos and my resume</li>
        </ul>
    </li>
</ul>
