---
layout: layouts/base.njk
title: Home
description: Sam Stromberg's personal website
---

<h1>Welcome to My Site</h1>

<div class="profile-pic-wrapper">
    <img src="../public/images/profile-pic.jpg" alt="a photo of me" class="profile-pic" eleventy:widths="240" eleventy:output="./images">
</div>

<p>Hello! I'm Sam Stromberg, and this is my personal website built with Eleventy.</p>

<p>Download <a href="./public/resume.pdf" download="Sam_Stromberg_Resume">my resume</a>.</p>

<h2>Recent Updates</h2>
<ul>
    <li>New content, 9/18/25
        <ul>
            <li>Learned more than I expected about serving images in the responsive-design era because the hard-coded img tags I was trying to use were being processed "for my convenience" by Eleventy</li>
            <li>Wrote a blog about Prop 50, California's proposed redistricting</li>
            <li>Added some past-work writeups to the <a href="/projects">Projects</a> page</li>
        </ul>
    </li>

    <li>Initial release, 8/29/25
        <ul>
            <li>Wrote some stuff for the site</li>
            <li>Asked an AI to look it over and oh man was it incomplete</li>
            <li>Started editing to remove all the extraneous junk that got thrown in</li>
            <li>Connected local directory to Github repo</li>
        </ul>
    </li>
    <li>Coming up next
        <ul>
            <li>Publish to Github Pages using an Actions script</li>
            <li>Write substantive blog post</li>
            <li>Dig up old posts on CA HSR and Adobe/Figma</li>
            <li>Embed some photos and my resume</li>
        </ul>
    </li>
</ul>
