---
layout: layouts/base.njk
title: Projects
description: Publications, computer things, etc.
---

<h1>Projects</h1>

<h2>Selected Publications</h2>
<ul>
    <li><a href="https://www.healthaffairs.org/doi/10.1377/hlthaff.2016.0902">"Consumers Buy Lower-Cost Plans On Covered California, Suggesting Exposure To Premium Increases Is Less Than Commonly Reported"</a> - Health Affairs, Vol. 36, No. 1 (January 2017).<br>
    Regulators were not keen to release consumer/enrollment data in the early years of the Affordable Care Act (ACA) insurance exchanges (fearing any result would be politicized). This article was a collaboration with researchers and UC Berkeley and Covered California, that gave us an opportunity to track how consumers moved down-market as premiums rose year over year.</li>
    <li><a href="http://www.commonwealthfund.org/publications/issue-briefs/2016/oct/aca-cost-sharing-reduction-plans"> The ACA's Cost-Sharing Reduction Plans: A Key to Affordable Health Coverage for Millions of U.S. Workers</a> - Commonwealth Fund issue brief, October 2016.<br>
    In addition to the better-known tax credits for insurance premiums, below specific household-income thresholds, consumers buying on the ACA exchanges have access to subsidies for cost-sharing (out-of-pocket costs like the deductible and copay). Unlike many other aspects of ACA programs, this one hasn't really been in the spotlight and carries on (as of press time...), but millions of Americans have been able to get the care they need as a result.</li>
    <li><a href="https://www.healthaffairs.org/doi/10.1377/hlthaff.2015.0738">In Second Year Of Marketplaces, New Entrants, ACA  ‘Co-Ops,’ And Medicaid Plans Restrain Average Premium Growth Rates</a> - Health Affairs, Vol. 34, No. 12 (December 2015).<br>
    This was the third year consumers could use healthcare.gov (or their state's equivalent) to get health insurance; regulators finally made comprehensive datasets available for researchers. We took advantage of the reduced data-collection overhead and spent more time running models to see what factors were associated with stable/successful state (or regional) markets.</li>
    <li><a href="https://www.kff.org/medicare/to-switch-or-be-switched-examining-changes-in-drug-plan-enrollment-among-medicare-part-d-low-income-subsidy-enrollees/">To Switch or Be Switched: Examining Changes in Drug Plan Enrollment among Medicare Part D Low-Income Subsidy Enrollees</a> - Kaiser Family Foundation report, July 2015.<br>
    Low-income enrollees in Medicare Part D (prescription drug plans) can qualify for subsidized premiums and cost-sharing. However, if a plan drops out of the program, Medicare <em>randomly reassigns</em> these enrollees to a new qualifying plan. This seems obviously bad (<em>"But how bad is it?"</em>) We investigated.</li>
    <li><a href="https://www.commonwealthfund.org/blog/2014/analysis-finds-no-nationwide-increase-health-insurance-marketplace-premiums">Analysis Finds No Nationwide Increase in Health Insurance Marketplace Premiums</a> - Commonwealth Fund blog, December 2014.<br>
    This was the second year consumers could use healthcare.gov (or their state's equivalent) to get health insurance. There was an astronomical amount of interest (erm, within certain circles, at least) in whether these markets were "working" -- despite not being given a comprehensive data file (or even API access), our team scraped plan information and developed an analytic framework to compare year 2 to year 1.</li>
</ul>