---
layout: base.njk
title: Projects
description: Publications, computer things, etc.
---

<h1>Projects</h1>

<h2>Publications</h2>
<ul>
    <li><a href="https://example.com/publication1">Publication Title 1</a> - Brief description of publication 1.</li>
    <li><a href="https://example.com/publication2">Publication Title 2</a> - Brief description of publication 2.</li>
</ul>

<h2>Computer Things</h2>
<ul>
    <li><a href="https://github.com/sstromberg/project1">Project 1</a> - Brief description of project 1.</li>
    <li><a href="https://github.com/sstromberg/project2">Project 2</a> - Brief description of project 2.</li>
</ul>