---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
<style>{% include "node_modules/prismjs/themes/prism-okaidia.css" %}</style>
<style>{% include "public/css/prism-diff.css" %}</style>

<h1>{{ title }}</h1>

<ul class="post-metadata">
	{%- if date_updated -%}
		<li><em>Originally Published</em> <time datetime="{{ date_published | htmlDateString }}">{{ date_published | readableDate }}</time></li>
		<li><em>Updated</em> <time datetime="{{ date_updated | htmlDateString }}">{{ date_updated | readableDate }}</time></li>
	{%- else -%}
		<li><em>Published</em> <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
	{%- endif -%}

	<li>Tagged: 
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}
	{%- endfor %}
	</li>
</ul>

{{ content | safe }}

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li class="links-nextprev-prev">← Previous<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li class="links-nextprev-next">Next →<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}